.form {
    display: flex;
    max-width: 46rem;
    margin: calc(-3.375rem/2) auto;
    justify-content: space-between;
    width: 100%;
}

.input {
    display: flex;
    width: 39.875rem;
    padding: 1rem;
    border-radius: 8px;
    background: var(--gray-500);
    border: 1px solid (--gray-700);
    color: var(--gray-300);
}

.input:focus {
    outline: none;
}

.button {
    display: flex;
    flex: row;
    width: 5.626rem;
    height: 3.25rem;
    border-radius: 8px;
    background-color: var(--blueDark);
    color: var(--gray-100);
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.button img {
    margin-left: 0.5rem;
}

.content {
    background-color: var(--gray-600);
    min-height: calc(100vh - 12.4rem);
}